<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ysq.nurse">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取wifi状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".util.network.NetWorkBroadcastReceiver">
            <intent-filter>
                <action android:name="CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.ysq.nurse.ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.ysq.nurse.ui.data.DeviceListActivity"  android:theme="@android:style/Theme.Dialog"/>

        <service android:enabled="true" android:name="com.ysq.nurse.ui.data.UartService" />

        <activity android:name="com.ysq.nurse.MainActivity" />

        <activity android:name="com.ysq.nurse.ui.data.NewDetailActivity" />

        <activity
            android:name="com.ysq.nurse.ui.login.LoginActivity"
            android:launchMode="singleTop" />
        <activity android:name="com.ysq.nurse.ui.data.DetailActivity" />
        <activity android:name="com.ysq.nurse.ui.news.ui.ImageBrowseActivity" />
        <activity android:name="com.ysq.nurse.ui.news.ui.ArticleReadActivity" />
        <activity android:name="com.ysq.nurse.ui.my.PersonActivity" />
        <activity android:name="com.ysq.nurse.ui.my.CheckActivity" />
        <activity android:name="com.ysq.nurse.ui.my.HistroyActivity" />

    </application>

</manifest>